include neonwranglerpy/data/table_types.csv
include neonwranglerpy/data/All_NEON_TOS_Plot_Points_V9.shp
include neonwranglerpy/data/All_NEON_TOS_Plots_Points_V9.cpg
include neonwranglerpy/data/All_NEON_TOS_Plots_Points_V9.csv
include neonwranglerpy/data/All_NEON_TOS_Plots_Points_V9.dbf
include neonwranglerpy/data/All_NEON_TOS_Plots_Points_V9.prj
include neonwranglerpy/data/All_NEON_TOS_Plots_Points_V9.shp.xml
include neonwranglerpy/data/All_NEON_TOS_Plots_Points_V9.shx
